*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

  .container-1 {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.container-md{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.login-form {
    height: 500px;
    width: 430px;
    /*padding: 0 35px; */
    background-color: white;
    border: none;
}


input[type="text"],
input[type="password"] {
    /* border-radius: 20px; */
    border: 2px solid rgb(224, 224, 224);
}

.btn-login {
    height: 35px;
    border-radius: 20px;
    font-weight: 700;
}

.btn-signup {
    height: 35px;
    font-weight: 700;
}

.link {
    color: #006eff;
    text-decoration: none;
}

.link:hover {
    color: #006eff;
    text-decoration: none;
}

.btn-gmail {
    height: 35px;
    border: 2px solid rgb(224, 224, 224);
    border-radius: 20px;
    font-weight: 700;
}

.img-google {
    height: 17px;
    width: 17px;
}

.btn-fb {
    height: 35px;
    border: 2px solid rgb(224, 224, 224);
    border-radius: 20px;
    font-weight: 700;
}

.img-fb {
    height: 20px;
    width: 20px;
}

.btn-github {
    height: 35px;
    border: 2px solid rgb(224, 224, 224);
    border-radius: 20px;
    font-weight: 700;
}

.img-github {
    height: 20px;
    width: 20px;
}
